<%= form_for @clientepedido, :validate => true do |f| %>
  <% if @clientepedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clientepedido.errors.count, "error") %> prohibited this clientepedido from being saved:</h2>

      <ul>
      <% @clientepedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p id="notice"><%= notice%></p>

  <div class="field">
    <%= f.label :cliente_id, 'Cliente:' %><br />
    <%= f.collection_select :cliente_id, Cliente.all, :id, :nombre%><br />
  </div>
  <div class="field">
    <%= f.label :producto_id, 'Producto:' %><br />
    <%= f.collection_select :producto_id, Producto.all, :id, :nombre %><br />
  </div>
  <div class="field">
    <%= f.label :cantidad %><br />
    <%= f.number_field :cantidad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
