<h1>Listing productos</h1>

<table>
  <tr>
    <th>Tipoproducto</th>
    <th>Nombre</th>
    <th>Marca</th>
    <th>Precio</th>
    <th>Image</th>
    <th>Descripcion</th>
    <th>Cantidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @productos.each do |producto| %>
  <tr>
    <td><%= producto.tipoProducto_id %></td>
    <td><%= producto.nombre %></td>
    <td><%= producto.marca %></td>
    <td><%= producto.precio %></td>
    <td><%= producto.image %></td>
    <td><%= producto.descripcion %></td>
    <td><%= producto.cantidad %></td>
    <td><%= link_to 'Show', producto %></td>
    <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
    <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Producto', new_producto_path %>
